{% extends "::genre.html.twig" %}

{% block film_genres %} 
<a href="{{path ('all')}}" class="list-group-item " >All Genres</a>
<a href="{{path ('action')}}" class="list-group-item ">Action</a>
<a href="{{path ('comedy')}}" class="list-group-item ">Comedy</a>
<a href="{{path ('drama')}}" class="list-group-item ">Drama</a>
<a href="{{path ('mystery')}}" class="list-group-item">Mystery</a>
<a href="{{path ('fantasy')}}" class="list-group-item active">Fantasy</a>
<a href="{{path ('scifi')}}" class="list-group-item">Sci-fi</a>
{% endblock %} 

{% block gname %} Fantasy{% endblock %} 
{% block about%} Unlike science fiction films that base their content upon some degree of scientific truth, take the audience to netherworld, fairy-tale places where events are unlikely to occur in real life. In mythological or legendary times, they transcend the bounds of human possibility and physical laws. Fantasy films are often in the context of the imagination, dreams, or hallucinations of a character or within the projected vision of the storyteller. Fantasy films often have an element of magic, myth, wonder, escapism, and the extraordinary. They may appeal to both children and adults, depending upon the particular film. {% endblock %}  
{% block films %} 
<div class="row">

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" style="height:150px;width : 320px;"alt="">
                            <div class="caption">
                                <h4 class="pull-right">$15.99</h4>
                                <h4><a href="hobbit">The Hobbit III</a>
                                </h4>
                               
<button type="button" class="btn btn-xs btn-success">Fantasy</button>


                        <h4>
                             <!-- <a href="#" class="btn btn-default btn-sm">More Info</a> -->
                             <a class="btn btn-primary" href="">View More<span class="glyphicon glyphicon-chevron-right"></span></a>
                        </h4>
                            </div>
                            <!-- <div class="ratings">
                                <p class="pull-right">12 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div> -->
                        </div>
                    </div>


                    
</div>


{% endblock %}  