{% extends "::genre.html.twig" %}

{% block film_genres %} 
<a href="{{path ('all')}}" class="list-group-item " >All Genres</a>
<a href="{{path ('action')}}" class="list-group-item ">Action</a>
<a href="{{path ('comedy')}}" class="list-group-item ">Comedy</a>
<a href="{{path ('drama')}}" class="list-group-item ">Drama</a>
<a href="{{path ('mystery')}}" class="list-group-item">Mystery</a>
<a href="{{path ('fantasy')}}" class="list-group-item ">Fantasy</a>
<a href="{{path ('scifi')}}" class="list-group-item active">Sci-fi</a>
{% endblock %} 
{% block gname %} Sci-fi{% endblock %}  
{% block about%} Science Fiction Films are usually scientific, visionary, comic-strip-like, and imaginative, and usually visualized through fanciful, imaginative settings, expert film production design, advanced technology gadgets (i.e., robots and spaceships), scientific developments, or by fantastic special effects. Sci-fi films are complete with heroes, distant planets, impossible quests, improbable settings, fantastic places, great dark and shadowy villains, futuristic technology and gizmos, and unknown and inexplicable forces. Many other SF films feature time travels or fantastic journeys, and are set either on Earth, into outer space, or (most often) into the future time. {% endblock %} 
{% block films %} 
<div class="row">
 
 <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                          <a href="{{path ('div')}}">  <img src="http://thumbs2.ebaystatic.com/d/l225/m/mlcYWgOHC75BPc9_gdQE-Ow.jpg"  style="height:150px;width : 320px;" alt=""></a>
                            <div class="caption">
                                <h4 class="pull-right">$15.99</h4>
                                <h4><a href="{{path ('div')}}">Divergent</a>
                                </h4>
                               
<button type="button" class="btn btn-xs btn-default">Action</button>
<button type="button" class="btn btn-xs btn-danger">Sci-fi</button>

                        <h4>
                             <!-- <a href="#" class="btn btnefault btn-sm">More Info</a> -->
                             <a class="btn btn-primary" href="{{path ('div')}}">View More<span class="glyphicon glyphicon-chevron-right"></span></a>
                        </h4>
                            </div>
                            <!-- <div class="ratings">
                                <p class="pull-right">5 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div> -->
                        </div>
                    </div>


                  <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                         <a href="{{path ('maze')}}">   <img src="http://www.soundtrackgeek.com/v2/wp-content/uploads/2014/09/The-Maze-Runner-Soundtrack-200x150.jpg" style="height:150px;width : 320px;"alt=""></a>
                            <div class="caption">
                                <h4 class="pull-right">$15.99</h4>
                                <h4><a href="{{path ('maze')}}">The Maze Runner</a>
                                </h4>
                               
<button type="button" class="btn btn-xs btn-default">Action</button>
<button type="button" class="btn btn-xs btn-danger">Sci-fi</button>
<button type="button" class="btn btn-xs btn-primary">Mystery</button>

                        <h4>
                             <!-- <a href="#" class="btn btn-default btn-sm">More Info</a> -->
                             <a class="btn btn-primary" href="{{path ('maze')}}">View More<span class="glyphicon glyphicon-chevron-right"></span></a>
                        </h4>
                            </div>
                            <!-- <div class="ratings">
                                <p class="pull-right">5 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div> -->
                        </div>
                    </div>

                      <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                           <a href="{{path ('int')}}"> <img src="http://www.bbcclub.com/media/images/interstellar-220x117_small.jpg"  style="height:150px;width : 320px;" alt=""></a>
                            <div class="caption">
                                <h4 class="pull-right">$15.99</h4>
                                <h4><a href="{{path ('int')}}">Interstellar</a>
                                </h4>
                              
<button type="button" class="btn btn-xs btn-default">Action</button>
<button type="button" class="btn btn-xs btn-danger">Sci-fi</button>


                        <h4>
                             <!-- <a href="#" class="btn btn-default btn-sm">More Info</a> -->
                             <a class="btn btn-primary" href="{{path ('int')}}">View More<span class="glyphicon glyphicon-chevron-right"></span></a>
                        </h4>
                            </div>
                            <!-- <div class="ratings">
                                <p class="pull-right">5 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div> -->
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                         <a href="{{path ('luce')}}">   <img src="http://i.ebayimg.com/00/s/ODE2WDU1MA==/z/MCQAAOxyAbxTj3Qa/$_35.JPG" style="height:150px;width : 320px;"alt=""></a>
                            <div class="caption">
                                <h4 class="pull-right">$15.99</h4>
                                <h4><a href="{{path ('luce')}}">Lucy</a>
                                </h4>
                                
<button type="button" class="btn btn-xs btn-default">Action</button>
<button type="button" class="btn btn-xs btn-danger">Sci-fi</button>



                        <h4>
                             <!-- <a href="#" class="btn btn-default btn-sm">More Info</a> -->
                             <a class="btn btn-primary" href="{{path ('luce')}}">View More<span class="glyphicon glyphicon-chevron-right"></span></a>
                        </h4>
                            </div>
                           <!--  <div class="ratings">
                                <p class="pull-right">11 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div> -->
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                         <a href="{{path ('edge')}}">   <img src="http://www.scifi-movies.com/images/contenu/data/0003596/small_affiche-edge-of-tomorrow-2014-4.jpg"  style="height:150px;width : 320px;" alt=""></a>
                            <div class="caption">
                                <h4 class="pull-right">$15.99</h4>
                                <h4><a href="{{path ('edge')}}">Edge of Tommorow </a>
                                </h4>
<button type="button" class="btn btn-xs btn-default">Action</button>
<button type="button" class="btn btn-xs btn-danger">Sci-fi</button>


                        <h4>
                             <!-- <a href="#" class="btn btn-default btn-sm">More Info</a> -->
                             <a class="btn btn-primary" href="{{path ('edge')}}">View More<span class="glyphicon glyphicon-chevron-right"></span></a>
                        </h4>
                            </div>
                            <!-- <div class="ratings">
                                <p class="pull-right">5 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div> -->
                        </div>
                    </div>
</div>
{% endblock %}  