<!DOCTYPE html>

<html>
 <head>
  <meta charset="utf-8" />
  <title> BorrowingFilmOnline</title>
   
   {% block stylesheets %} 
   <link href=  "{{asset ('bundles/projectfilms/css/bootstrap.min.css')  }} " rel="stylesheet" /> 
   <link href=  "{{asset ('bundles/projectfilms/css/bootstrap-theme.min.css')  }} " rel="stylesheet" /> 
   <link href=  "{{asset ('bundles/projectfilms/css/heroic-features.css')  }} " rel="stylesheet" />
   <link href=  "{{asset ('bundles/projectfilms/css/shop-homepage.css')  }} " rel="stylesheet" />
   {% endblock %}
<style>
.jumbotron {
     padding: 0.4em 0.2em;
     
     color: black;
     background-color: #adebad ;
     
     
    p {
        font-size: 1.2em;
        font-weight: 200;
        font-weight: lighter;
        .btn {
            padding: 0.2em;
        }
    }

}
</style>

 </head>

<body >
<div>

 <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=""> BorrowingFilmOnline</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {% if is_granted('ROLE_USER') %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li><a href="" class="active"><span class="glyphicon glyphicon-user"></span>
            {{ app.user.username }}
                 {% endif %}</a></li> 
                 <li><a href="http://v-ie.uek.krakow.pl/~s175517/app_dev.php/"><span class="glyphicon glyphicon-list"></span> List of borrowed</a></li>
       <li><a href="http://v-ie.uek.krakow.pl/~s175517/app_dev.php/show/{{ app.user.username }}"><span class="glyphicon glyphicon-list"></span> List of orders</a></li>
      <!--  <li><a href="{{path ('project_films_listorder')}}"><span class="glyphicon glyphicon-list"></span> List of orders</a></li>  --> 
        <li><a href="{{path ('logout')}}"><span class="glyphicon glyphicon-log-out"></span> Log-out</a></li> 
        {% else %}

        <li><a href="{{path ('login')}}"><span class="glyphicon glyphicon-log-in"></span>Login</a>
     
          <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
        <li><a href="{{path ('signup')}}"><span class="glyphicon glyphicon-user"></span>Sign up</a>
          
        </li>
       {% endif %} 

      </ul>


                 <!-- <ul class="nav navbar-nav">
                    <li>
                        <a href="#">List of reviews</a>
                    </li>
 
                    </li>
                </ul> -->
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <div class="list-group">
                    
                    <p  class="list-group-item active" style="text-align : center; " >Reviews</p>
                    <a href="{{path ('project_films_listreviews')}}" class="list-group-item " >View film reviews</a>
                </div>

                <div class="list-group">
                    
                    <p  class="list-group-item active" style="text-align : center; " >Filter by genre</p>
                    <a href="{{path ('all')}}" class="list-group-item" >All Genres</a>
                    <a href="{{path ('action')}}" class="list-group-item">Action</a>
                    <a href="{{path ('comedy')}}" class="list-group-item">Comedy</a>
                    <a href="{{path ('drama')}}" class="list-group-item">Drama</a>
                    <a href="{{path ('mystery')}}" class="list-group-item">Mystery</a>
                    <a href="{{path ('fantasy')}}" class="list-group-item">Fantasy</a>
                    <a href="{{path ('scifi')}}" class="list-group-item">Sci-fi</a>
                    
                </div>

            </div>

            <div class="col-md-9">

                <div class="row carousel-holder">

                    <div class="col-md-12">

                        <div id="carousel-example-generic" class="carousel slide container" data-ride="carousel" style="width: 850px;  margin: 0 auto">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>

                            </ol>
                            <div class="carousel-inner">
                                <div class="item active" style="width: 800px; height: 300px;">
 
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
               <p> 
                    <img class="slide-image"  style="height:420 px;width : 320px;  padding-top: 23px;" src="http://www.filmivip.ru/kartinkifoto18/interstellar-2014.jpg" alt="Image">
                    <!-- image real size - 320 456 -->
                </p>
            </div>
            <div class="col-md-6">
                <h3>TOP 3 POPULAR MOVIES</h3>
                <h4>Interstellar</h4>

                <p class=" text-justify" style="padding-top: 10px;">In the near future, Earth has been devastated by drought and famine, causing a scarcity in food and extreme changes in climate. When humanity is facing extinction, a mysterious rip in the space-time continuum is discovered, giving mankind the opportunity to widen its lifespan. A group of explorers must travel beyond our solar system in search of a planet that can sustain life. The crew of the Endurance are required to think bigger and go further than any human in history as they embark on an interstellar voyage into the unknown. Coop, the pilot of the Endurance, must decide between seeing his children again and the future of the human race.</p>
                     <a class="btn btn-primary" href="{{path ('int')}}" style="padding-top: 5px;">View More <span class="glyphicon glyphicon-chevron-right"></span></a>
             </div>
                    </div>
            

                                    
                                </div>

                                <div class="item" style="width: 800px; height: 300px;">
                                   <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
               <p> 
                    <img class="slide-image"  style="height:420 px;width : 320px;  padding-top: 23px;" src="http://ecx.images-amazon.com/images/I/51VhCAqLQbL._SY445_.jpg" alt="Image">
                    <!-- image real size - 320 456 -->
                    <br/>
                </p>
            </div>
            <div class="col-md-6">
               <h3>TOP 3 POPULAR MOVIES</h3>
                <h4>The Hunger Games: Mockingjay - Part 1</h4>
                <p class=" text-justify" >Katniss Everdeen is in District 13 after she shatters the games forever. Under the leadership of President Coin and the advice of her trusted friends, Katniss spreads her wings as she fights to save Peeta and a nation moved by her courage.</p>
                     <a class="btn btn-primary" href="{{path ('hung')}}">View More <span class="glyphicon glyphicon-chevron-right"></span></a>
             </div>
                    </div> 

                                </div>

                                <div class="item">
                                  <!--   <img class="slide-image" src="http://placehold.it/800x300" alt=""> -->
                                    <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
               <p> 
                    <img class="slide-image"  style="height:420 px;width : 320px;  padding-top: 23px;" src="http://upload.wikimedia.org/wikipedia/en/8/8f/GOTG-poster.jpg" alt="Image">
                    <!-- image real size - 320 456 -->
                </p>
            </div>
            <div class="col-md-6">
                <h3>TOP 3 POPULAR MOVIES</h3>
                <h4>Gardian of the Galaxy</h4>
                <p class=" text-justify">A group of intergalactic criminals are forced to work together to stop a fanatical warrior from taking control of the universe.</p>
                     <a class="btn btn-primary" href="{{path ('gurd')}}">View More <span class="glyphicon glyphicon-chevron-right"></span></a>
             </div>
                    </div>
                                </div>
                            </div>

                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev" >
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>

                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>

                        </div>

                    </div>

                </div>

<!--  <div class="row">
            <div class="page-header center">
    <h2>Example Page Header</h2>      
  </div> -->

 <div>

<div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
         <p class="bg-warning">   <div class="jumbotron text-center" > <p >TOP 3 REVIEWED FILMS</p> </div></p>
        </div>
    </div>

    <div class="row">

                    <div class="col-sm-4 col-lg-4 col-md-4">

                         <div class="thumbnail">
                            <a href="{{path ('bird')}}"><img src="http://www.kinoteatrslonko.pl/www/wp-content/uploads/2015/02/Birdman-cover-300x150.jpg" style="height:150px;width : 320px;"alt=""> </a>

                            <div class="caption">
                                <h4 class="pull-right">$10.99</h4>
                                <h4><a href="{{path ('bird')}}">Birdman</a>
                                </h4>

<button type="button" class="btn btn-xs btn-info ">Drama</button>
<button type="button" class="btn btn-xs btn-warning">Comedy</button>

                        <h4>
                             <!-- <a href="#" class="btn btn-default btn-sm">More Info</a> -->
                             <a class="btn btn-primary" href="{{path ('bird')}}">View More<span class="glyphicon glyphicon-chevron-right"></span></a>
                        </h4>
                            </div>
                            <!-- <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div> -->
                        </div>
                    </div>

                     <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                          <a href="{{path ('hobbit')}}">  <img src="http://www.jadekerrion.com/wp-content/uploads/2014/01/TheHobbit-300x150.jpg" style="height:150px;width : 320px;"alt=""> </a>
                            <div class="caption">
                                <h4 class="pull-right">$15.99</h4>
                                <h4><a href="{{path ('hobbit')}}">The Hobbit III</a>
                                </h4>
                               
<button type="button" class="btn btn-xs btn-success">Fantasy</button>


                        <h4>
                             <!-- <a href="#" class="btn btn-default btn-sm">More Info</a> -->
                             <a class="btn btn-primary" href="{{path ('hobbit')}}">View More<span class="glyphicon glyphicon-chevron-right"></span></a>
                        </h4>
                            </div>
                            <!-- <div class="ratings">
                                <p class="pull-right">12 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div> -->
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                           <a href="{{path ('jur')}}"> <img src="http://tvflix.co.uk/wp-content/uploads/2015/02/movies-jurassic-world-poster-300x150.jpg" style="height:150px;width : 320px;"alt=""> </a>
                            <div class="caption">
                                <h4 class="pull-right">$15.99</h4>
                                <h4><a href="{{path ('jur')}}">Jurasic World</a>
                                </h4>
                               

<button type="button" class="btn btn-xs btn-default">Action</button>

                        <h4>
                             <!-- <a href="#" class="btn btn-default btn-sm">More Info</a> -->
                             <a class="btn btn-primary" href="{{path ('jur')}}">View More<span class="glyphicon glyphicon-chevron-right"></span></a>
                        </h4>
                            </div>
                            <!-- <div class="ratings">
                                <p class="pull-right">11 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div> -->
                        </div>
                    </div>
</div>

    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
         <p class="bg-warning">   <div class="jumbotron text-center" > <p >Available Movies</p> </div></p>
        </div>
    </div>
                <div class="row">

                    <div class="col-sm-4 col-lg-4 col-md-4">

                        <div class="thumbnail">
                            <a href="{{path ('bird')}}"><img src="http://www.kinoteatrslonko.pl/www/wp-content/uploads/2015/02/Birdman-cover-300x150.jpg" style="height:150px;width : 320px;"alt=""> </a>
                            <div class="caption">
                                <h4 class="pull-right">$10.99</h4>
                                <h4><a href="{{path ('bird')}}">Birdman</a>
                                </h4>

<button type="button" class="btn btn-xs btn-info ">Drama</button>
<button type="button" class="btn btn-xs btn-warning">Comedy</button>

                        <h4>
                             <!-- <a href="#" class="btn btn-default btn-sm">More Info</a> -->
                             <a class="btn btn-primary" href="{{path ('bird')}}">View More<span class="glyphicon glyphicon-chevron-right"></span></a>
                        </h4>
                            </div>
                            <!-- <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div> -->
                        </div>
                    </div>

<div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                          <a href="{{path ('gurd')}}">  <img src="http://www.cinemageekly.com/wp-content/uploads/2014/08/guardian-of-the-galaxy-poster-300x150.jpg" style="height:150px;width : 320px;"alt=""></a>
                            <div class="caption">
                                <h4 class="pull-right">$15.99</h4>
                                <h4><a href="{{path ('gurd')}}">Guardian of the Galaxy</a>
                                </h4>
                               
<button type="button" class="btn btn-xs btn-default">Action</button>
<button type="button" class="btn btn-xs btn-warning">Comedy</button>
<button type="button" class="btn btn-xs btn-danger">Sci-fi</button>

                        <h4>
                             <!-- <a href="#" class="btn btn-default btn-sm">More Info</a> -->
                             <a class="btn btn-primary" href="{{path ('gurd')}}">View More<span class="glyphicon glyphicon-chevron-right"></span></a>
                        </h4>
                            </div>
                            <!-- <div class="ratings">
                                <p class="pull-right">6 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div> -->
                        </div>
                    </div>

 <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                          <a href="{{path ('hobbit')}}">  <img src="http://www.jadekerrion.com/wp-content/uploads/2014/01/TheHobbit-300x150.jpg" style="height:150px;width : 320px;"alt=""></a>
                            <div class="caption">
                                <h4 class="pull-right">$15.99</h4>
                                <h4><a href="{{path ('hobbit')}}">The Hobbit III</a>
                                </h4>
                               
<button type="button" class="btn btn-xs btn-success">Fantasy</button>


                        <h4>
                             <!-- <a href="#" class="btn btn-default btn-sm">More Info</a> -->
                             <a class="btn btn-primary" href="{{path ('hobbit')}}">View More<span class="glyphicon glyphicon-chevron-right"></span></a>
                        </h4>
                            </div>
                            <!-- <div class="ratings">
                                <p class="pull-right">12 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div> -->
                        </div>
                    </div>


                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                          <a href="{{path ('div')}}">  <img src="http://thumbs2.ebaystatic.com/d/l225/m/mlcYWgOHC75BPc9_gdQE-Ow.jpg"  style="height:150px;width : 320px;" alt=""></a>
                            <div class="caption">
                                <h4 class="pull-right">$15.99</h4>
                                <h4><a href="{{path ('div')}}">Divergent</a>
                                </h4>
                               
<button type="button" class="btn btn-xs btn-default">Action</button>
<button type="button" class="btn btn-xs btn-danger">Sci-fi</button>

                        <h4>
                             <!-- <a href="#" class="btn btnefault btn-sm">More Info</a> -->
                             <a class="btn btn-primary" href="{{path ('div')}}">View More<span class="glyphicon glyphicon-chevron-right"></span></a>
                        </h4>
                            </div>
                            <!-- <div class="ratings">
                                <p class="pull-right">5 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div> -->
                        </div>
                    </div>

                      <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                          <a href="{{path ('gone')}}">  <img src="http://taynement.com/wp-content/uploads/2014/10/gone_girl_40653_poster.jpg"  style="height:150px;width : 320px;" alt=""></a>
                            <div class="caption">
                                <h4 class="pull-right">$15.99</h4>
                                <h4><a href="{{path ('gone')}}">Gone Girl</a>
                                </h4>
<button type="button" class="btn btn-xs btn-info ">Drama</button>
<button type="button" class="btn btn-xs btn-primary">Mystery</button>



                        <h4>
                             <!-- <a href="#" class="btn btn-default btn-sm">More Info</a> -->
                             <a class="btn btn-primary" href="{{path ('gone')}}">View More<span class="glyphicon glyphicon-chevron-right"></span></a>
                        </h4>
                            </div>
                            <!-- <div class="ratings">
                                <p class="pull-right">5 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div> -->
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                           <a href="{{path ('hung')}}"> <img src="http://kulisyfilmow.pl/_content/wp-content/uploads/2015/01/igrzyska-smierci-3-150x200.jpg"  style="height:150px;width : 320px;" alt=""></a>
                            <div class="caption">
                                <h4 class="pull-right">$15.99</h4>
                                <h4><a href="{{path ('hung')}}">The Hunger Games </a>
                                </h4>
                              
<button type="button" class="btn btn-xs btn-info ">Drama</button>
<button type="button" class="btn btn-xs btn-default">Action</button>

                        <h4>
                             <!-- <a href="#" class="btn btn-default btn-sm">More Info</a> -->
                             <a class="btn btn-primary" href="{{path ('hung')}}">View More<span class="glyphicon glyphicon-chevron-right"></span></a>
                        </h4>
                            </div>
                            <!-- <div class="ratings">
                                <p class="pull-right">5 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div> -->
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                         <a href="{{path ('maze')}}">   <img src="http://www.soundtrackgeek.com/v2/wp-content/uploads/2014/09/The-Maze-Runner-Soundtrack-200x150.jpg" style="height:150px;width : 320px;"alt=""></a>
                            <div class="caption">
                                <h4 class="pull-right">$15.99</h4>
                                <h4><a href="{{path ('maze')}}">The Maze Runner</a>
                                </h4>
                               
<button type="button" class="btn btn-xs btn-default">Action</button>
<button type="button" class="btn btn-xs btn-danger">Sci-fi</button>
<button type="button" class="btn btn-xs btn-primary">Mystery</button>

                        <h4>
                             <!-- <a href="#" class="btn btn-default btn-sm">More Info</a> -->
                             <a class="btn btn-primary" href="{{path ('maze')}}">View More<span class="glyphicon glyphicon-chevron-right"></span></a>
                        </h4>
                            </div>
                            <!-- <div class="ratings">
                                <p class="pull-right">5 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div> -->
                        </div>
                    </div>

                     <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                           <a href="{{path ('int')}}"> <img src="http://www.bbcclub.com/media/images/interstellar-220x117_small.jpg"  style="height:150px;width : 320px;" alt=""></a>
                            <div class="caption">
                                <h4 class="pull-right">$15.99</h4>
                                <h4><a href="{{path ('int')}}">Interstellar</a>
                                </h4>
                              
<button type="button" class="btn btn-xs btn-default">Action</button>
<button type="button" class="btn btn-xs btn-danger">Sci-fi</button>


                        <h4>
                             <!-- <a href="#" class="btn btn-default btn-sm">More Info</a> -->
                             <a class="btn btn-primary" href="{{path ('int')}}">View More<span class="glyphicon glyphicon-chevron-right"></span></a>
                        </h4>
                            </div>
                            <!-- <div class="ratings">
                                <p class="pull-right">5 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div> -->
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <a href="{{path ('king')}}"><img src="http://cinema.usc.edu/userfiles/A0127948311B99D1C02CF7783648D35EBD92E9B2images/KingsmanPoster.jpg"  style="height:150px;width : 320px;" alt=""></a>
                            <div class="caption">
                                <h4 class="pull-right">$15.99</h4>
                                <h4><a href="{{path ('king')}}">Kingsman </a>
                                </h4>
<button type="button" class="btn btn-xs btn-default">Action</button>
<button type="button" class="btn btn-xs btn-warning">Comedy</button>

                        <h4>
                             <!-- <a href="#" class="btn btn-default btn-sm">More Info</a> -->
                             <a class="btn btn-primary" href="{{path ('king')}}">View More<span class="glyphicon glyphicon-chevron-right"></span></a>
                        </h4>
                            </div>
                            <!-- <div class="ratings">
                                <p class="pull-right">5 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div> -->
                        </div>
                    </div>
                      <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                         <a href="{{path ('luce')}}">   <img src="http://i.ebayimg.com/00/s/ODE2WDU1MA==/z/MCQAAOxyAbxTj3Qa/$_35.JPG" style="height:150px;width : 320px;"alt=""></a>
                            <div class="caption">
                                <h4 class="pull-right">$15.99</h4>
                                <h4><a href="{{path ('luce')}}">Lucy</a>
                                </h4>
                                
<button type="button" class="btn btn-xs btn-default">Action</button>
<button type="button" class="btn btn-xs btn-danger">Sci-fi</button>



                        <h4>
                             <!-- <a href="#" class="btn btn-default btn-sm">More Info</a> -->
                             <a class="btn btn-primary" href="{{path ('luce')}}">View More<span class="glyphicon glyphicon-chevron-right"></span></a>
                        </h4>
                            </div>
                           <!--  <div class="ratings">
                                <p class="pull-right">11 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div> -->
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                         <a href="{{path ('edge')}}">   <img src="http://www.scifi-movies.com/images/contenu/data/0003596/small_affiche-edge-of-tomorrow-2014-4.jpg"  style="height:150px;width : 320px;" alt=""></a>
                            <div class="caption">
                                <h4 class="pull-right">$15.99</h4>
                                <h4><a href="{{path ('edge')}}">Edge of Tommorow </a>
                                </h4>
<button type="button" class="btn btn-xs btn-default">Action</button>
<button type="button" class="btn btn-xs btn-danger">Sci-fi</button>


                        <h4>
                             <!-- <a href="#" class="btn btn-default btn-sm">More Info</a> -->
                             <a class="btn btn-primary" href="{{path ('edge')}}">View More<span class="glyphicon glyphicon-chevron-right"></span></a>
                        </h4>
                            </div>
                            <!-- <div class="ratings">
                                <p class="pull-right">5 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <a href="{{path ('jur')}}"><img src="http://tvflix.co.uk/wp-content/uploads/2015/02/movies-jurassic-world-poster-300x150.jpg"  style="height:150px;width : 320px;" alt=""></a>
                            <div class="caption">
                                <h4 class="pull-right">$15.99</h4>
                                <h4><a href="{{path ('jur')}}">Jurasic World </a>
                                </h4>
                                
<button type="button" class="btn btn-xs btn-default">Action</button>

                        <h4>
                             <!-- <a href="#" class="btn btn-default btn-sm">More Info</a> -->
                             <a class="btn btn-primary" href="{{path ('jur')}}">View More<span class="glyphicon glyphicon-chevron-right"></span></a>
                        </h4>
                            </div>
                           <!--  <div class="ratings">
                                <p class="pull-right">5 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div> -->
                        </div>
                    </div>

                </div>
                 <hr>
     <p style="bottom:0;"> Copyright &copy; 2015</p>
                
            
                   
                
      <!--   <!-- Footer -->
        <!-- <footer>
            <div class="row">
                
            </div>
        </footer>  -->
 
     </div>
 </div><!-- /.container -->

    <!-- jQuery <script src="js/jquery.js"></script> -->
    <script src="http://code.jquery.com/jquery-1.7.2.js"></script> 
    <!-- Bootstrap Core JavaScript    -->
   <script src="{{asset ('bundles/projectfilms/js/bootstrap.js')  }} "></script>



</body>
</html>